@model YourProjectToolRental.Models.Inventory

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tool Details</h2>

    <div>
        <h4>Inventory</h4>
        <hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.ToolType)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ToolType)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Brand)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Brand)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Active)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Active)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Comment)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Comment)
			</dd>
		</dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
