@model YourProjectToolRental.Models.Rental

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Rental</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Rental</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.CustomerId, Model.Customers, "- Please select a customer -", new { @class = "form-control" })
			@*@Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control" } })*@
			@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.CheckedOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.CheckedOutDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.CheckedOutDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.CheckedInDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.CheckedInDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.CheckedInDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>

	<div class="form-group">
		<p>@Html.ActionLink("Add Tools", "AddTools", new { Model.RentalId }, null)</p>
		<h4>Tools Borrowed</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tool</th>
				</tr>
			</thead>
			@foreach (var item in Model.RentedTools)
			{
				<tr>
					<td>@item.ToolType</td>
					<td>
						@Html.ActionLink("Edit", "EditRentedTool", new { id = item.RentalItemId }) |
						@Html.ActionLink("Delete", "DeleteRentedTool", new { id = item.RentalItemId })
					</td>
				</tr>
			}
		</table>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
