
@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<h3>Create New Customer:</h3>

<h4>Click "Create New" button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Create1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Enter Customers Details, then click Create.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Create2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Item Created</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Create3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>


<br />
<br />
<br />
<br />

<h3>Edit Customer:</h3>

<h4>Click "Edit" button on the Customer.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Edit1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit the details, then click "Save" Button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Edit2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Edit3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h3>Customer Details:</h3>

<h4>Click "Details" button on the Customer.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Details1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>View Details.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Details2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />
<br />
<br />

<h3>Delete Customer:</h3>

<h4>Click "Delete" button on the Customer.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Delete1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Verify deleting the Customer.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Delete2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Delete Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Customers/Delete3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />