
@{
	ViewBag.Title = "Inventory";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

<h3>Create New Tool:</h3>

<h4>Click "Create New" button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Create1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Enter Tools Details, then click Create.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Create2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Item Created</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Create3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>


<br />
<br />
<br />
<br />

<h3>Edit Tool:</h3>

<h4>Click "Edit" button on the Tool.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Edit1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit the details, then click "Save" Button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Edit2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Edit3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h3>Tool Details:</h3>

<h4>Click "Details" button on the Tool.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Details1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>View Details.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Details2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />
<br />
<br />

<h3>Delete Tool:</h3>

<h4>Click "Delete" button on the Tool.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Delete1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Verify deleting the Tool.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Delete2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Delete Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Tools/Delete3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />