
@{
	ViewBag.Title = "Rentals";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<br />
<br />
<br />

<h3>Create New Rental:</h3>
<br />

<h4>Click "Create New" button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Select Customer from the drop down list, then click Create.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Click add Tools.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Select Tool, then click add.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create4.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Select more tools or click save</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create5.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Added new rental successfully</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Create6.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>


<br />
<br />
<br />
<br />

<h3>Edit Rental:</h3>

<h4>Click "Edit" button on the Rental.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Edit1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit the details or tools, then click "Save" Button.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Edit2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Edit Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Edit3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />
<br />
<br />

<h3>Rental Details:</h3>

<h4>Click "Details" button on the Rental.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Details1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>View Details.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Details2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />
<br />
<br />

<h3>Delete Rental:</h3>

<h4>Click "Delete" button on the Rental.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Delete1.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Verify deleting the Rental.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Delete2.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />

<h4>Delete Complete.</h4>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="@Url.Content("~/HelpPageImages/Rentals/Delete3.png")" draggable="false" ondragstart="drag(event)" id="drag1" width="970" height="570">
</div>

<br />
<br />